# lightning.pytorch==2.0.0
seed_everything: 42

data:
  class_path: src.data.SEDataModule
  init_args:
    db_path: "data/metadata.db"
    batch_size: 16
    num_workers: 16
    target_sr: 16000

model:
  class_path: src.modules.se_module.SEModule
  init_args:
    # 1. Define the underlying SE Model
    model:
      class_path: src.models.baseline.DummyModel
      init_args:
        n_fft: 512
        hop_length: 256
        window_type: "hann"

    # 2. Define the Loss Function (Menu Selection)
    loss:
      class_path: src.modules.losses.CompositeLoss
      init_args:
        alpha: 0.1 # Weight for Frequency Loss

    # 3. Optimization Settings
    optimizer_config:
      lr: 1e-3
      weight_decay: 1e-5

trainer:
  default_root_dir: "results"
  max_epochs: 5
  accelerator: "gpu"
  devices: 1
  precision: "16-mixed"
  log_every_n_steps: 1
  check_val_every_n_epoch: 1
  # limit_train_batches: 10  # 빠른 디버깅용
  # limit_val_batches: 5
  logger:
    class_path: lightning.pytorch.loggers.MLFlowLogger
    init_args:
      experiment_name: "Architecture"        # 아키텍처 비교 실험군
      run_name: "Baseline-DummyModel"        # 파이프라인 검증용 기준선
      tracking_uri: "file:./results/mlruns"
  callbacks:
    - class_path: src.callbacks.mlflow_auto_tag.MLflowAutoTagCallback  # 자동 태깅
